<ion-content>

  <ion-slides pager class="punticos" >
    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col col-12 class="iconos">
            <ion-icon src="assets/mosque.svg" color="primary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="titulos">
            <h2>Tours</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="titulos">
            <h2>Obten la informacion de todos tus tours programados.</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 >
            <p  class="button" color="primary" (click)="skip()">Saltar</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col col-12 class="iconos">
            <ion-icon src="assets/hotel.svg" color="primary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="titulos">
            <h2>Hoteles</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="titulos">
            <h2>Conoce la informacion de tus hoteles.</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 >
            <p  class="button" color="primary" (click)="skip()">Saltar</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col col-12 class="iconos">
            <ion-icon src="assets/consultant.svg" color="primary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="titulos">
            <h2>Asesor Turistico</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="titulos">
            <h2>Contacta tu asesor turístico en cualquier momento</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 >
            <p  class="button" color="primary" (click)="skip()">Entendido</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>


</ion-content>