<ion-menu side="start" menuId="op" class="my-custom-menu">
  <ion-header class="menutop">
    <ion-buttons slot="end">
      <ion-button class="botonmenu2" (click)="atras()">
        <ion-icon class="icono2" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-header>
  <ion-content class="menuback">
    <ion-card class="nombres">
      <ion-avatar class="avatare">
        <img src="../../assets/img/bandera.jpg" />
      </ion-avatar>
      <h5>{{nombreUsuario}}</h5>
      <p>{{ciudad}}</p>
    </ion-card>
    <ion-list class="letraslista">
      <ion-item routerLink="/semana">mi viaje <ion-icon name="calendar" slot="start"></ion-icon>
      </ion-item>
      <ion-item routerLink="/main">Para hoy tengo <ion-icon name="sunny" slot="start"></ion-icon>
      </ion-item>
      <ion-item routerLink="/mapa"> Mi Hotel <ion-icon name="bed" slot="start"></ion-icon>
      </ion-item>
      <ion-item routerLink="/conductores">Mi conductor <ion-icon name="car" slot="start"></ion-icon>
      </ion-item>
      <ion-item routerLink="/contacto-rapido">Asesor Turistico<ion-icon name="call" slot="start"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="botonmenu" (click)="openCustom()">
        <ion-icon class="icono" name="menu"></ion-icon>
      </ion-button>Menu
    </ion-buttons>
    <ion-title class="dia_toolbar">Asesor Turistico</ion-title>
    <ion-buttons slot="end">
      <ion-button class="botonmenu" disabled>
        <ion-icon class="icono" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let item of AsesorDelUsuarioActual" (click)="esta(item.userName,item.telefono)">
      <div class="imagenes">
        <img mat-card-image src="../../assets/img/ascs.png" />
      </div>

      <div class="cartas">
        <div class="titulo" innerHtml="{{item.userName}}"></div>
        <p class="p">Telefono:</p>
        <p class="p2" innerHtml="{{item.telefono}}"></p>
      </div>

    </ion-card>

  </ion-content>
</ion-content>