.dia_toolbar{
    text-align: center;
    
    }

    .eltitulo{
        font-weight: bold;
        text-align: left;
        font-size: medium;
    }

    .scroll {
        overflow: auto;
      }

      .descripcion{
        font-weight: bold;
        text-align: left;
        font-size: medium;
      }
