<ion-content>

  <img src="../../assets/img/usuario.png" alt="">

  <ion-input shape="round" fill="outline" class="pasaporte" [(ngModel)]="pasaporte" placeholder="Pasaporte"></ion-input>
  <br>
  <ion-input shape="round" fill="outline" class="pasaporte" [(ngModel)]="password" placeholder="Contraseña"
    type="password"></ion-input>




  <ion-item class="checkbox">
    <ion-label>No cerrar sesíon</ion-label>
    <ion-checkbox checked slot="start" color="dark"></ion-checkbox>
  </ion-item>


  <ion-button checked (click)="Onsubmitlogin()" strong="true" fill="outline" expand="block" shape="round" color="dark">
    ingresar
  </ion-button>

  <img class="img2" src="../../assets/img/questionmark.png" alt="">
  <p>¿Olvidaste la <br>contraseña?</p>
     
  <!--separador-->

  <!--TODO ARREGLAR EL METODO DE OLVIDASTE TU CONTRASEÑA-->
  <!--TODO PONER LOS GUARDS-->

  <!--separador final-->