ion-content.background {
  --background: #34490d /*url(/../assets/img/w1.jpg)  0 0/100% 100% no-repeat*/;
}

ion-icon{
  height: 15em;
  width: 8em;
  position: relative;
}
.icono{
  position: relative;
  top: 2em;
  left: 35%;
}
.pasaporte {
  text-align: center;
  background: white;
  position: relative;
  color: rgb(0, 0, 0);
  border-radius: 66px;
}

.input2{
  position: relative;
  top: 2em;
}
.sesion{
  position: relative;
  top: 4em;
}

.boton{
  position: relative;
  top: 6em;
}

.checkbox {
  padding: 0;
  margin: 0;
  --background: transparent;
  width: 50%;
  height: 40px;
  position: relative;
  top: 2%;
  text-align: center;
  left: 28%;
  box-shadow: none;
  text-shadow: none;
  border: none;
  text-decoration: none;
  color: #232323;

  ion-label {
    font-size: 12px;
    text-align: start;
  }
}
/*
.animation {
  position: relative;
  top: 1%;
}

img {
  width: 20%;
  height: auto;
  position: relative;
  top: 5%;
  margin-top: 53%;
  margin-bottom: 0;
  left: 43%;
  color: #232323;
}

.recuperarPassword {
  width: 8%;
  height: auto;
  position: relative;
  top: 5%;
  margin-top: 20%;
  margin-bottom: 0;
  left: 4%;
  color: #232323;
}

p {
  color: rgb(143, 143, 143);
  position: relative;
  top: -6.7%;
  left: 15%;
  font-size: 12px;
  width: 20%;
}



.checkbox {
  padding: 0;
  margin: 0;
  --background: transparent;
  width: 50%;
  height: 40px;
  position: relative;
  top: 2%;
  text-align: center;
  left: 28%;
  box-shadow: none;
  text-shadow: none;
  border: none;
  text-decoration: none;
  color: #232323;

  ion-label {
    font-size: 12px;
    text-align: start;
  }
}

ion-button {
  text-align: center;
  width: 65%;
  height: 27px;
  position: relative;
  right: 62.5%;
  left: 20%;
  color: rgb(0, 0, 0);
  top: 3%;
  border-radius: 66px;
  border-color: #232323;
}

.olvidaste {
  height: 5%;
  position: relative;
  top: 32%;
  left: 37%;
}
*/
