<ion-menu side="start" menuId="guias" class="my-custom-menu" >
  <ion-header color="secondary" >
<h4>asdadssad</h4>
  </ion-header>
  <ion-content color="secondary">
    <ion-list class="letraslista" color="secondary">
      <ion-item color="secondary"> <h4>Opciones:</h4></ion-item>
      <ion-item color="secondary">Mi Cuenta <ion-icon color="tertiary" name="contact" slot="start"></ion-icon></ion-item>
      <ion-item color="secondary">Configuracion <ion-icon color="tertiary" name="build" slot="start"></ion-icon></ion-item>
      <ion-item color="secondary">Ayuda <ion-icon color="tertiary" name="help-circle" slot="start"></ion-icon></ion-item>
      <ion-item color="secondary">Cerrar Sesion <ion-icon color="tertiary" name="log-out" slot="start"></ion-icon></ion-item>
    </ion-list>
  </ion-content>
  <ion-footer class="menufoo">
      <ion-item class="vv">Informacion <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-buttons class="ale" (click)="atras()">
          <ion-icon slot="end" color="secondary" name="arrow-round-back"></ion-icon>
        </ion-buttons>
      </ion-item>
      
  </ion-footer >
</ion-menu>
<ion-router-outlet main></ion-router-outlet>


<ion-header>
  <ion-toolbar>
    <ion-title>guias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
