<ion-menu side="start" menuId="ciudad" class="my-custom-menu">
  <ion-header class="menutop">
    <ion-buttons slot="end">
      <ion-button class="botonmenu2" (click)="atras()">
        <ion-icon class="icono2" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-header>
  <ion-content class="menuback">
    <ion-card class="nombres">
      <ion-avatar class="avatare">
        <img src="../../assets/img/bandera.jpg" />
      </ion-avatar>
      <div class="nombreCiudad">
        <h5>{{userNameFiltrado}}</h5>
        <div class="botonCiudad">
          <ion-button size="small" fill="outline" color="success" (click)="irCiudad()">

            {{ciudad}}</ion-button>
        </div>
      </div>
      <!--TODO traer la ciudad del pasajero (aunque es mejor si se muestra la ciudad donde 
      TODO se encuentre el pasajero en ese momento)-->
    </ion-card>
    <ion-list class="letraslista">
      <ion-item routerLink="/semana">mi viaje <ion-icon name="calendar" slot="start"></ion-icon>
      </ion-item>
      <ion-item routerLink="/main">Para hoy tengo <ion-icon name="sunny" slot="start"></ion-icon>
      </ion-item>
      <ion-item routerLink="/mapa"> Mi Hotel <ion-icon name="bed" slot="start"></ion-icon>
      </ion-item>
      <ion-item routerLink="/conductores">Mi conductor <ion-icon name="car" slot="start"></ion-icon>
      </ion-item>
      <ion-item routerLink="/contacto-rapido">Asesor Turistico<ion-icon name="call" slot="start"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>

<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="botonmenu" (click)="openCustom()">
        <ion-icon class="icono" name="menu"></ion-icon>
      </ion-button>
      Menu
    </ion-buttons>
    <ion-title class="dia_toolbar">acerca de {{ciudad}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="botonmenu" disabled>
        <ion-icon class="icono" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--FINAL DE LA CABECERA----------------------->

<ion-content>


  <div class="imagenes">
    <img id="imagenes" mat-card-image src="{{FotoCiudad}}" />
  </div>

  <ion-card class="card">
    <ion-card-content>
      <div class="titulos2">Ciudad:</div>
      <div class="descripcion" innerHtml="{{ciudad}}"> </div>

      <div class="titulos2">Clima:</div>
      <div class="descripcion " innerHtml="{{Clima}}"> </div>

      <div class="titulos2"> Descripcion:</div>
      <div class="descripcion" innerHtml="{{descripcion}}"> </div>

      <div class="titulos2"> Gentilicio:</div>
      <div class="descripcion" innerHtml="{{gentilicio}}"> </div>


      <div class="titulos2"> Moneda:</div>
      <div class="descripcion" innerHtml="{{moneda}}"> </div>

    </ion-card-content>

    <div class="continuar">
      <ion-button  fill="solid" color="success" (click)="irParaHoyTengo()">
        Ok, siguiente</ion-button>

    </div>

  </ion-card>




</ion-content>
