.nombreCiudad{
  position: relative;
  margin: 5%;
  left: 51%;
}
.continuar{
  position: relative;
  left :65%;
}

.menutop {
  background: #232323;
  box-shadow: none;
}

.botonmenu2 {
  width: 50px;
  height: 50px;
  --border-radius: 50%;
  border-radius: 50%;
  margin-left: 84%;
}

.botonmenu {
  width: 50px;
  height: 50px;
  --border-radius: 50%;
  border-radius: 50%;
}

.icono {
  font-size: 30px;
}

.icono2 {
  font-size: 30px;
  color: #a2cc46;
}

.menuback {
  --background: #232323;
  --border: none;
}

.letraslista {
  background-color: #232323;
  margin-top: 8%;

  ion-item {
    --background: #232323;
    --color: white;
    font-size: 21px;
    margin-top: 5%;
  }

  ion-icon {
    font-size: 40px;
    color: white;
    margin-left: 3%;
    margin-right: 6%;
  }
}

.nombres {
  width: 100%;
  height: 60px;
  border-top-left-radius: 54px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 54px;
  margin-left: 5%;

  h5 {
    color: #749232;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 9%;
    left: 26%;
  
  }

  .avatare {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 8%;
    right: 82%;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}

.botonCiudad{
  position: relative;
  left:34%;
  top: 13%;
}

.dia_toolbar {
  text-align: center;
}
//---------------nuevo--------------------------

* {
  padding: 0%;
  margin: 0%;
}

ion-card {
  --background: white;
}

.card {
  width: 100%;
  margin-top: -14%;
  background: white;
  border-radius: 54px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
  height: auto;
  box-shadow: none;
}

.titulos {
  width: 50%;
  margin-left: 15%;
  margin-top: 8%;
}

.titulos2 {
  width: 80%;
  margin-left: 10%;
  margin-top: 6%;
  font-weight: bold;
  color: #232323;
}

.descripcion {
  width: 80%;
  margin-left: 10%;
  margin-top: 0%;
  font-weight: bold;
}

//----HASTA ACA SIRVE BIEN
